append variables  
	-
		var plugins = [
			{
				title: 'CountUp',
				description: `CountUp.js is a dependency-free, lightweight JavaScript class that can be used to quickly create animations that display numerical data in a more interesting way.`,
				implementationUrl: `${CWD}/components/countup.html`,
				documentationUrl: 'https://github.com/inorganik/CountUp.js'
			},
			{
				title: 'FontAwesome 5',
				description: 'Get vector icons and social logos on your website with Font Awesome, the web\'s most popular icon set and toolkit.',
				implementationUrl: `${CWD}/components/icons.html`,
				documentationUrl: 'https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use'
			},
			{
				title: 'Glightbox',
				description: 'Glightbox is a pure javascript lightbox. It can display images, iframes, inline content and videos with optional autoplay for YouTube, Vimeo and even self hosted videos.',
				implementationUrl: `${CWD}/components/lightbox.html`,
				documentationUrl: 'https://github.com/biati-digital/glightbox'
			},
			{
				title: 'Filter',
				description: `Filter & sort magical layouts.`,
				implementationUrl: `${CWD}/components/filter.html`,
				documentationUrl: 'https://isotope.metafizzy.co/filtering.html'
			},
			{
				title: 'Hover Dir',
				description: `A How to create a direction-aware hover effect using CSS3 and jQuery. The idea is to slide in an overlay from the direction we are moving with the mouse.`,
				implementationUrl: `${CWD}/components/hover-dir.html`,
				documentationUrl: 'https://github.com/ryanturnerwebdev/DirectionAwareHoverEffect#readme'
			},
			{
				title: 'Remodal',
				description: `BigPicture is a pure javascript lightbox. It can display images, iframes, inline content and videos with optional autoplay for YouTube, Vimeo and even self hosted videos`,
				implementationUrl: `${CWD}/components/remodal.html`,
				documentationUrl: 'https://github.com/henrygd/bigpicture'
			},
			{
				title: 'Plyr',
				description: `A simple, lightweight, accessible and customizable HTML5, YouTube and Vimeo media player that supports modern browsers.`,
				implementationUrl: `${CWD}/components/inline-player.html`,
				documentationUrl: 'https://kimmobrunfeldt.github.io/progressbar.js/'
			},
			{
				title: 'ProgressBar.js',
				description: `With <code>ProgressBar.js</code>, it's easy to create responsive and stylish progress bars for the web. Animations perform well even on mobile devices. It provides a few built‑in shapes like <code>Line, Circle</code> and <code>SemiCircle</code> but you can also create custom shaped progress bars with any vector graphic editor.`,
				implementationUrl: `${CWD}/components/progressbar.html`,
				documentationUrl: 'https://github.com/sampotts/plyr#try-plyr-online'
			},
			{
				title: 'Lodash',
				description: 'A modern JavaScript utility library delivering modularity, performance, &amp; extras.',
				documentationUrl: 'https://lodash.com'
			}, 
			{
				title: 'Is.js',
				description: 'Micro check plugin. Check types, regexps, presence, time and more...',
				documentationUrl: 'http://is.js.org/'
			},
			{
				title: 'Typed Text',
				description: 'A JavaScript library that types out, deletes them, and then types again.',
				implementationUrl: `${CWD}/components/typed-text.html`,
				documentationUrl: 'https://mattboldt.com/demos/typed-js/'
			},
			{
				title: 'Swiper',
				description: 'Swiper is the most modern free mobile touch slider with hardware accelerated transitions and amazing native behavior. It is intended to be used in mobile websites, mobile web apps, and mobile native/hybrid apps.',
				implementationUrl: `${CWD}/components/swiper.html`,
				documentationUrl: 'https://swiperjs.com'
			},
			{
				title: 'Google Map',
				description: `${name} uses Google map with Snazzy Maps, with different color schemes aimed towards web designers and developers.`,
				implementationUrl: `${CWD}/components/googlemap.html`,
				documentationUrl: 'https://developers.google.com/maps/documentation/javascript/tutorial'
			},
		].sort((a,b) => a.title > b.title ? 1 : a.title < b.title ? -1 : 0)

mixin Plugins(config,index)
	h5(data-anchor class=`${index !== 0 ? 'mt-4': ''}`)=config.title
	p.mb-0!=config.description
	if(config.implementationUrl)
		a(href=config.implementationUrl).font-sans-serif Implimentation in reign
		|  -
	if(config.documentationUrl)	
		a(href=config.documentationUrl target='_blank').font-sans-serif  Full Documentation
