mixin SinglePost
	+Section
		.row
			.col-lg-7.mb-4.mb-lg-0
				img(src=`${CWD}assets/img/blogs/s-3.jpg`, alt="").img-fluid.rounded
				h2.mt-4.text-transform-none.fw-medium We Are Figuring Out How to Make Google Sweat?
				.mb-4 By
					a(href="#!").text-700 Admin
					span.mx-2.text-700 |
					a(href="#!").text-700 25 Feb, 2019
					span.mx-2.text-700 |
					a(href="#!").text-700 3 Comments
					span.mx-2.text-700 |
					a(href="#!").text-700 Web Design

				p The Wild West era may be drawing to a close for tech corporations like Facebook and Google. New scrutiny from regulators abroad — and some closer to home — is resulting in fines that portend more substantial changes on the horizon. Soon, your data may rest a bit more squarely in your control.
				p Last month, Google became one of the first U.S. companies to be punished under Europe’s General Data Protection Regulation, a sweeping consumer privacy and data protection law. The French regulator, the Commission Nationale de l’Informatique et des Libertés (CNIL), fined Google $57 million for breaching the law’s provisions on user consent. Per CNIL, Google failed to adequately disclose how a person’s information was used to serve advertisements.
				p.fs-1.ps-3.ps-md-4.border-start.border-500.fst-italic.py-3.my-4.text-700 The $57 million fine it isn’t much to the tech giant. (It amounts to roughly 0.15 percent of Google parent company Alphabet’s multibillion-dollar revenue in the most recent quarter alone.) But to the regulator, the fine was substantial. It was the largest-ever penalty for data privacy and was inflicted, CNIL said, due to the “severity of the infringements” and “continuous breaches of the regulation.”

				p.mb-4 No one sees this penalty as a one-off. Instead, it could be the beginning of a bigger change in how European regulators approach the entire online advertising industry, thanks to pressure from activist groups aggressively pursuing some U.S. technology giants.

				.row.g-0
					.col-6.pe-1
						a(href=`${CWD}assets/img/blogs/10.jpg` data-gallery="posts")
							img(src=`${CWD}assets/img/blogs/10.jpg`, alt="").img-fluid.rounded.mb-2
					.col-6.ps-1
						a(href=`${CWD}assets/img/blogs/11.jpg` data-gallery="posts")
							img(src=`${CWD}assets/img/blogs/11.jpg`, alt="").img-fluid.rounded.mb-2
					.col-12
						a(href=`${CWD}assets/img/blogs/9.jpg` data-gallery="posts")
							img(src=`${CWD}assets/img/blogs/9.jpg`, alt="").img-fluid.rounded.mb-4

				p While CNIL ultimately levied the penalty, the case was brought to it by a pair of privacy advocacy groups: None of Your Business (NYOB) and La Quadrature du Net. Under new European privacy rules, nonprofits like NOYB, which was founded by privacy activist Max Schrems, act as “fire alarms,” said Abraham Newman, a professor at Georgetown who focuses on international relations. More specifically, the groups can bring data privacy.
				.row
					.col-auto
						p.fw-bold Share on
					.col
						ul.list-inline
							li.list-inline-item.border-end.pe-1
								a(href="#!").text-900.px-2
									span.fab.fa-facebook-f(data-fa-transform="grow-5")
							li.list-inline-item.border-end.pe-1
								a(href="#!").text-900.px-2
									span.fab.fa-twitter(data-fa-transform="grow-5")
							li.list-inline-item.pe-1
								a(href="#!").text-900.px-2
									span.fab.fa-linkedin-in(data-fa-transform="grow-5")

				.row
					.col-12
						h4.font-base.border-bottom.pb-2.my-4.fw-normal 5 Comments
						.d-flex.mb-4
							img(src=`${CWD}assets/img/team/1.jpg`, width="60" height="60" alt="").rounded-circle.me-3
							.flex-1
								p.mb-1.text-700 
									a(href="#!").fw-bold.text-900 Kin Herritage
									|  Wow! Excellent. This post is very useful for me. I'm searching about this last four months but I couldn't manage.
								a(href="#!").text-700.me-1.fs--1 Like
								| &bull;
								a(href="#!").text-700.ms-1.fs--1 Reply
								span.fs--1.ps-1.text-600 Just Now
						.d-flex
							img(src=`${CWD}assets/img/team/2.jpg`, width="60" height="60" alt="").rounded-circle.me-3
							.flex-1
								p.mb-1.text-700
									a(href="#!").fw-bold.text-900 Kin Herritage
									|  Wow! Excellent. This post is very useful for me. I'm searching about this last four months but I couldn't manage.
								a(href="#!").text-700.me-1.fs--1 Like
								| &bull;
								a(href="#!").text-700.ms-1.fs--1 Reply
								span.fs--1.ps-1.text-600 1hr
					.col-12
						form.mt-5
							h4.fw-normal.mb-3.font-base Leave a comment
							.row.g-0
								.col-md-6.pe-2.mb-3
									.form-group
										input(type="text" placeholder="Name").form-control
								.col-md-6.ps-2.mb-3
									.form-group
										input(type="email" placeholder="Email").form-control
								.col-12.mb-3
									.form-group
										textarea.form-control(rows="10" placeholder="Your Comment")
								.d-grid
									button.btn.btn-dark.hvr-sweep-top(type="submit") Post
			.col-lg-5.ps-lg-7
				+BlogSidebar
		.row
			.col-12
				h4.fw-normal.mb-3.mt-6 Related Posts

			+BlogItem({
				img: 1, 
				title: '23 Top HTML Landing Page Templates 2019.', 
				avatar: 1, 
				author: 'Kit Harington', 
				date: '6 Feb, 2019', 
				comment: 86, 
				description: 'Landing pages are the essential part of an online marketing campaign. A landing page is a page where a visitor comes to a ...'
			}).mb-4

			+BlogItem({
				img: 2, 
				title: 'Testing Working Robots at the Canadian Agency.', 
				avatar: 2, 
				author: 'Emilla Clarke', 
				date: '4 Feb, 2019', 
				comment: 45, 
				description: 'Burgas was the first city in Bulgaria funded by the European Union on the program called “Regional development 2019 ...'
				}).mb-4
			+BlogItem({
				img: 3, 
				title: 'Why does every website need to be accessible?', 
				avatar: 7, 
				author: 'Alfie Allen', 
				date: '1 Feb, 2019', 
				comment: 73, 
				description: 'Maybe I should introduce myself first to give my words that bit of credibility a self-published article on the internet can have ...'
				}).mb-4