mixin PreFooter
  +Section.bg-1100.py-6.pb-9.px-3.px-lg-0
    .row
      .col-lg-4.pe-lg-4.mb-4.mb-lg-0
        h5.text-white.mb-3 Our Mission
        p.text-700 Our mission is to deliver optimal solutions with quality and services at reasonable prices. For us customer satisfaction is given top place. We are very friendly in our dealings to the customers and it helps us retain existing clients and expand customer circle. We always try to improve the quality of our products by exploring innovative ideas and our service.
        ul.list-inline.mb-0
          li.list-inline-item.me-0
            a(href="#!").text-900.hover-color-white.pe-2
              span.fab.fa-facebook-f
          li.list-inline-item.me-0
            a(href="#!").text-900.hover-color-white.px-2
              span.fab.fa-twitter
          li.list-inline-item.me-0
            a(href="#!").text-900.hover-color-white.px-2
              span.fab.fa-linkedin-in
          li.list-inline-item.me-0
            a(href="#!").text-900.hover-color-white.px-2
              span.fab.fa-google-plus-g
      .col-lg-8
        .row
          .col-6.col-md-3.ps-lg-4.mb-4.mb-lg-0
            h5.text-white.mb-3 Company
            ul.list-unstyled.mb-0
              li.mb-1
                a(href=`${CWD}pages/about.html`).text-700.hover-color-white About
              li.mb-1
                a(href=`${CWD}pages/contact.html`).text-700.hover-color-white Contact
              li.mb-1
                a(href=`${CWD}pages/blog.html`).text-700.hover-color-white Blog
              li.mb-1
                a(href=`${CWD}pages/gallery.html`).text-700.hover-color-white Gallery
              li.mb-1
                a(href=`#!`).text-700.hover-color-white Privacy
              li.mb-1
                a(href=`#!`).text-700.hover-color-white Careers
              
          .col-6.col-md-3.ps-4.mb-4.mb-lg-0
            h5.text-white.mb-3 Product
            ul.list-unstyled.mb-0
              li.mb-1
                a(href=`${CWD}pages/work.html`).text-700.hover-color-white Work
              li.mb-1
                a(href=`${CWD}pages/service.html`).text-700.hover-color-white Services
              li.mb-1
                a(href=`${CWD}pages/pricing.html`).text-700.hover-color-white Pricing
              li.mb-1
                a(href=`#!`).text-700.hover-color-white Features
              li.mb-1
                a(href=`#!`).text-700.hover-color-white Docs
              li.mb-1
                a(href=`#!`).text-700.hover-color-white Agencies
          .col-md-6.ps-md-4
            h5.text-white.mb-3 FROM THE BLOG
            ul.list-unstyled.mb-0
              li.mb-3
                a(href=`${CWD}pages/single-post.html`).text-700.hover-color-white  Testing Working Robots at the Canadian Agency.
                p.text-900.hover-color-white.mb-0 Jan 15, 2022
              li.mb-3
                a(href=`${CWD}pages/single-post.html`).text-700.hover-color-white How to start your new business with limited budget?
                p.text-900.hover-color-white.mb-0 Jan 15, 2022
              li.mb-3
                a(href=`${CWD}pages/single-post.html`).text-700.hover-color-white Do we need more Javascript Framework?
                p.text-900.hover-color-white.mb-0 Jan 15, 2022