mixin HoverDir
  .row.g-3
    .col-sm-6.col-lg-4
      .hoverdir-item.my-0
        .hoverdir-item-content
          a(href=`${CWD}pages/single-post.html`)
            img(src=`${CWD}assets/img/projects/1.jpg`, alt="").img-fluid.rounded
            .hoverdir-text
              h3.text-white.lh-1.fs-0 Website Design
              p.ls-1.mb-0.text-700 Multipurpose HTML template
                br.d-sm-none.d-md-block
                |  with bootstrap 5
    .col-sm-6.col-lg-4
      .hoverdir-item.my-0
        .hoverdir-item-content
          a(href=`${CWD}pages/single-post.html`)
            img(src=`${CWD}assets/img/projects/2.jpg`, alt="").img-fluid.rounded
            .hoverdir-text
              h3.text-white.lh-1.fs-0 UI/UX Design
              p.ls-1.mb-0.text-700 Most user friendly user
                br.d-sm-none.d-md-block
                |  interface design 
    .col-sm-6.col-lg-4
      .hoverdir-item.my-0
        .hoverdir-item-content
          a(href=`${CWD}pages/single-post.html`)
            img(src=`${CWD}assets/img/projects/3.jpg`, alt="").img-fluid.rounded
            .hoverdir-text
              h3.text-white.lh-1.fs-0 Mobile Accessories
              p.ls-1.mb-0.text-700 Popular mobile accessories
                br.d-sm-none.d-md-block
                |  in 2021
    .col-sm-6.col-lg-4
      .hoverdir-item.my-0
        .hoverdir-item-content
          a(href=`${CWD}pages/single-post.html`)
            img(src=`${CWD}assets/img/projects/4.jpg`, alt="").img-fluid.rounded
            .hoverdir-text 
              h3.text-white.lh-1.fs-0 Interior Photography
              p.ls-1.mb-0.text-700 More than 50K happy
                br.d-sm-none.d-md-block
                |  real state clients   
    .col-sm-6.col-lg-4
      .hoverdir-item.my-0
        .hoverdir-item-content
          a(href=`${CWD}pages/single-post.html`)
            img(src=`${CWD}assets/img/projects/5.jpg`, alt="").img-fluid.rounded
            .hoverdir-text 
              h3.text-white.lh-1.fs-0 App Development
              p.ls-1.mb-0.text-700 Most secured and optimized
                br.d-sm-none.d-md-block
                |  mobile app development  
    .col-sm-6.col-lg-4
      .hoverdir-item.my-0
        .hoverdir-item-content
          a(href=`${CWD}pages/single-post.html`)
            img(src=`${CWD}assets/img/projects/6.jpg`, alt="").img-fluid.rounded
            .hoverdir-text 
              h3.text-white.lh-1.fs-0 Content Writing
              p.ls-1.mb-0.text-700 More than 50K blog posts 
                br.d-sm-none.d-md-block
                |  on different subjects
    .col-sm-6.col-lg-4
      .hoverdir-item.my-0
        .hoverdir-item-content
          a(href=`${CWD}pages/single-post.html`)
            img(src=`${CWD}assets/img/projects/7.jpg`, alt="").img-fluid.rounded
            .hoverdir-text 
              h3.text-white.lh-1.fs-0 Packaging design
              p.ls-1.mb-0.text-700 Beautiful packaging design 
                br.d-sm-none.d-md-block
                | done by our designers  
    .col-sm-6.col-lg-4
      .hoverdir-item.my-0
        .hoverdir-item-content
          a(href=`${CWD}pages/single-post.html`)
            img(src=`${CWD}assets/img/projects/8.jpg`, alt="").img-fluid.rounded
            .hoverdir-text 
              h3.text-white.lh-1.fs-0 Model Photography
              p.ls-1.mb-0.text-700 Exclusive model photography 
                br.d-sm-none.d-md-block
                | by brilliant photographers
    .col-sm-6.col-lg-4
      .hoverdir-item.my-0
        .hoverdir-item-content
          a(href=`${CWD}pages/single-post.html`)
            img(src=`${CWD}assets/img/projects/9.jpg`, alt="").img-fluid.rounded
            .hoverdir-text 
              h3.text-white.lh-1.fs-0 Digital Marketing
              p.ls-1.mb-0.text-700 We spread digital products
                br.d-sm-none.d-md-block
                |  all over the world                             
              