mixin Performance
	+Section({
		image: `${CWD}assets/img/backgrounds/performance-bg.jpg`,
		className: "overlay overlay-1",
		attrs: {
			style: 'background-position: top;'
		}
	}).py-6
		.row
			.col-12.mb-4.text-center(data-zanim-timeline!={} data-zanim-trigger='scroll')
				.overflow-hidden
					h2.fs-md-5.text-white(data-zanim-xs!={'duration': 1.5,'delay': 0}) Our Performance
				.overflow-hidden
					p.fs--1.text-uppercase.text-white.ls-1.mb-0(data-zanim-xs!={'duration': 1.5,'delay': 0.1}) Be surprised seeing the final outcome with us.
				.overflow-hidden
					hr.hr-short.bg-white(data-zanim-xs!={'duration': 1.5,'delay': 0.2})

			.col-lg-6.px-4.px-sm-3.px-lg-5.mb-4.mb-md-5.mb-lg-0(style="padding-top: 5px;")
				.progress-line.text-white(data-progress-line data-options!={progress: 90})
					p.mb-0.text-start Google Page Speed
				.progress-line.text-white(data-progress-line data-options!={progress: 73})
					p.mb-0.text-start Pingdom Page Speed
				.progress-line.text-white(data-progress-line data-options!={progress: 87})
					p.mb-0.text-start Reign Performance Matrix
				.progress-line.text-white(data-progress-line data-options!={progress: 95})
					p.mb-0.text-start Customer Satisfaction		
				
			.col-lg-6.px-lg-4
				ul#myTab.nav.nav-tabs(role='tablist')
					li.nav-item
						a#home-tab.nav-link.fs-0.text-white.ls-1.active(data-bs-toggle='tab', href='#tab-home', role='tab', aria-controls='tab-home', aria-selected='true') UX/UI
					li.nav-item
						a#profile-tab.nav-link.fs-0.text-white.ls-1(data-bs-toggle='tab', href='#tab-profile', role='tab', aria-controls='tab-profile', aria-selected='false') Support
					li.nav-item
						a#contact-tab.nav-link.fs-0.text-white.ls-1l(data-bs-toggle='tab', href='#tab-contact', role='tab', aria-controls='tab-contact', aria-selected='false') Seo
				#myTabContent.tab-content.pt-4
					#tab-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
						.d-flex.align-items-center
							img(src=`${CWD}assets/img/line-icons/diamond.svg`, width=56 alt="")
							.flex-1.ms-3.text-light
								| #{name} is a team of multidisciplinary digital product experts. We extend the design and development departments of the most innovative companies. Our studio is small, working with a few client projects at a time.
					#tab-profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
						.d-flex.align-items-center
							img(src=`${CWD}assets/img/line-icons/customer-service.svg`, width=56 alt="")
							.flex-1.ms-3.text-light
								| Our friendly Support Team is available to help you 24 hours a day, seven days a week. We look forward to hearing from you! Our 24/7 support team is available to assist you with your any online presence needs.
					#tab-contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') 
						.d-flex.align-items-center
							img(src=`${CWD}assets/img/line-icons/monitor-3.svg`, width=56 alt="")
							.flex-1.ms-3.text-light
								| SEO is essential for every website for a long time business and marketing. We generally work on three keywords for SEO and charge a small amount. Usually, it will take 3-6 month for upgrading website search rank.
				
				.text-center.text-lg-start
					a(href=`${CWD}pages/work.html`).btn.btn-outline-light.hvr-sweep-top.btn-sm.mt-5.mt-lg-4.mb-2 Our Latest Works